@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Exo:300');

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    overflow: auto;
}

.w3-sidenav a, .w3-sidenav h4 {
    padding: 12px;
}

.w3-bar a {
    padding-top: 12px;
    padding-bottom: 12px;
}

a.title {
    font-family: 'Exo', sans-serif;
    padding: 12px 9px !important;
    height: 50px;
}

@media (max-width:600px) {
	a.title {
	    font-family: 'Exo', sans-serif;
	    padding: 10px 8px !important;
	    font-size: 12px;
	    line-height: 2.5;
    }
}

a.menu {
    padding: 6px 9px !important;
    height: 50px;
}

.w3-main {
    margin-left: 250px;
    height: 100vh;
    padding-top: 66px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
}

.w3-button {
    transition: all .2s;
}

.w3-button:hover {
    color: inherit !important;
    background-color: inherit !important;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.w3-sidenav a, .w3-navblock a {
    transition: all .2s;
}

.w3-sidenav a:hover, .w3-navblock a:hover {
    color: inherit !important;
    background-color: inherit !important;
    text-shadow: 0px 0px 2px rgba(0, 74, 67, .7);
}

.w3-bar .w3-bar-item {
    padding: 12px 16px;
}

a.w3-bar-item {
    max-height: 50px;
}

a>i {
    line-height: 1.5 !important;
}

#navbar {
    padding: 8px 0;
}

nav#mySidenav {
    z-index: 3;
    width: 250px;
    margin-top: 66px;
}

nav#mySidenav a:nth-last-child(1){
    margin-bottom: 50px;
}

div#main {
    width: 100%;
}

footer {
    display: inline-block;
    width: 100%;
}

footer>div {
    width: 100%;
}

footer a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #e9fffd;
}

footer a:hover {
    color: #fff;
    text-shadow: 1px 0px 2px rgba(255, 255, 255, 0.5);
}

ul#terms {
    padding-left: 2px !important;
}

ul>li>span {
    display: block;
}

ul>li {
    padding: 6px !important;
}

ul>li>a {
    text-decoration: none;
    transition-duration: .1s;
}

ul>li>a>span {
    font-size: smaller;
    font-weight: bold;
    margin-left: 6px;
}

ul>li>a:hover {
    text-shadow: 0px 0px 2px rgba(0, 74, 67, .4);
}

div#files>a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: justify;
    padding-right: 30px !important;
    transition: all .15s;
    border-bottom: solid #004a43 2px;
    border-radius: 2px;
}

div#files>a:hover, div#files>a:active {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

div#files>a>span {
    font-size: smaller;
    font-weight: bold;
    margin-left: 6px;
}

div#files>a>i {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    width: 36px;
    text-align: center;
    transition: box-shadow .15s;
}

div#files>a:hover>i, div#files>a:active>i {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

ul#personelList>li {
    min-height: 113px;
}

ul#personelList img {
    width: 83px;
    height: auto;
    margin: 0 10px 25px 10px;
    border: solid 2px rgba(0,0,0,.2);
    box-sizing: border-box;
}

ul#personelList a {
    text-decoration: none;
    padding: 2px;
    border: 1px dotted white;
    outline: 0;
    box-sizing: border-box;
}

ul#personelList a:active, ul#personelList a:focus {
    border: 1px dotted;
}

img.home {
    max-width: 800px;
    width: 46%;
}

.w3-theme-l5 {
    color: #000 !important;
    background-color: #e9fffd !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #b7fff8 !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #6efff1 !important
}

.w3-theme-l2 {
    color: #000 !important;
    background-color: #26ffe9 !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #00dcc6 !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #008578 !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #00766a !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #00685d !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #005950 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #004a43 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #e9fffd !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #004a43 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #004a43 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #009688 !important
}

.w3-text-theme {
    color: #009688 !important
}

.w3-border-theme {
    border-color: #009688 !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.w3-hover-text-theme {
    color: #009688 !important
}

.w3-hover-border-theme:hover {
    border-color: #009688 !important
}
